body {
  font-family: 'Source Code Pro';
  background-size: contain;
  width: 100%;
  height: 100%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/05/20100726_Kalamitsi_Beach_Ionian_Sea_Lefkada_island_Greece.jpg");
}


.titleBoxes {
  background-color: rgba(49, 66, 125, 0.5);
}

.fontCoolColor {
  @extend .indigo-text, .text-lighten-4;
}

.backSplashColor {
  background-color: #e5b95b;
}














/*#backgroundImg {
  top: 0;
  left: 0;
  z-index: -10;
  position: absolute;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.headerBox {
  position: relative;
  width: 90%;
  border: 3px solid cadetblue;
  background: rgba(49, 66, 125, 0.7);
  text-align: center;
  padding: 20px;
  margin: 30px;
  border-radius: 7px;.
}

#containerLeft {
  border: 3px solid cadetblue;
  border-radius: 7px;
  background-color: rgba(49, 66, 125, 0.5);
  width: 30%;
  display: inline-block;
  float: left;
}

#containerRight {
  border: 3px solid cadetblue;
  border-radius: 7px;
  background-color: rgba(49, 66, 125, 0.5);
  width: 30%;
  display: inline-block;
  float: right;
}*/
